<template>
    <div>
        <b-container>
            <b-row>
                <b-col>
                    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                        <b-form-row>
                            <b-col>
                                <b-form-group id="input-group-1" label="Your Name:" label-for="input-1">
                                    <b-form-input
                                        id="input-1"
                                        v-model="form.name"
                                        required
                                        placeholder="Enter name"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group id="input-group-2" label="Your Surname:" label-for="input-2">
                                    <b-form-input
                                        id="input-2"
                                        v-model="form.surname"
                                        required
                                        placeholder="Enter surname"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                        </b-form-row>
                        <b-form-row>
                            <b-col>
                                <b-form-group id="input-group-3" label="Your email:" label-for="input-3">
                                    <b-form-input
                                        id="input-3"
                                        v-model="form.email"
                                        type="email"
                                        required
                                        placeholder="Enter email"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group id="input-group-4" label="Your birthday:" label-for="input-4">
                                    <b-form-datepicker
                                        id="input-4"
                                        v-model="form.birthday"
                                        type="email"
                                        required
                                        placeholder="Enter birthday">
                                    </b-form-datepicker>
                                </b-form-group>
                            </b-col>
                        </b-form-row>
                        <b-form-row>
                            <b-col>
                                <b-form-group id="input-group-5" label="Your password:" label-for="input-5">
                                    <b-form-input
                                        id="input-2"
                                        v-model="form.password"
                                        type="password"
                                        required
                                        placeholder="Enter password"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group id="input-group-6" label="Retype password:" label-for="input-6">
                                    <b-form-input
                                        id="input-6"
                                        v-model="form.password_confirmation"
                                        type="password"
                                        required
                                        placeholder="Retype password"
                                    ></b-form-input>
                                </b-form-group>
                            </b-col>
                        </b-form-row>

                        <b-button type="submit" variant="primary">Submit</b-button>
                        <b-button type="reset" variant="danger">Reset</b-button>
                    </b-form>
                    <b-card class="mt-3" header="Form Data Result">
                        <pre class="m-0">{{ form }}</pre>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import services from './../services';

export default {
    name: 'Register',
    data: function () {
      return {
        form: {
            email: '',
            name: '',
            surname: '',
            birthday: '',
            password: '',
            password_confirmation: '',
        },
        show: true
      }
    },
    methods: {
        onSubmit(evt) {
            evt.preventDefault();
            if (this.form.password == this.form.password_confirmation) {
                services.auth.register(
                    this.form.name,
                    this.form.surname,
                    this.form.password,
                    this.form.birthday,
                    this.form.email,
                );
                // alert(JSON.stringify(this.form));
            }
        },
        onReset(evt) {
            evt.preventDefault()
            this.form.email = '';
            this.form.name = '';
            this.form.surname = '';
            this.form.birthday = '';
            this.form.password = '';
            this.form.password_confirmation = '';
            this.show = false
            this.$nextTick(() => {
                this.show = true
            })
        }
    }
}
</script>